            <form   id="formValidation">     <!--POUR VALIDATION FORM AVEC BIBLIO jQuery fonction validate()-->

                        <div class="form-group">
                            <i class="fas fa-paper-plane  text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Demande code d'activation</h4>
                            <hr style="border-color:  #C2185B">

                            <div class="form-group ">

                            </div>

                            <input type="text" class="form-control" placeholder="Nom" id="nom" name="contactNom"  required >
                            <div class="form-group ">

                            </div>
                            <input type="text" class="form-control" placeholder="Prénom" id="prenom"  name="contactPrenom" required >
                            <div class="form-group ">

                            </div>
                            <input type="email" class="form-control" placeholder="Adresse mail" id="email"   name="email"  >    
                        </div>

                   

                        <div class="form-group ">
                            <textarea id="story" name="story"  placeholder="Message"
                                      rows="2" cols="33"></textarea>
                        </div>
                       
                        <div class="form-group ">
                            <a id="send-msg" class="btn btnVert"> Envoi </a>  
                        </div>

                    </form>    


